@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rock+Salt&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #fbf9ff;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #628395;
}
body{
    background-color: #fbf9ff;
    font-family: 'Caveat', 'Helvetica', 'sans-serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    background-color: #628395;
}
footer{
    background-color: #628395;
}
nav a:hover{
    background-color: #fbf9ff;
    color: black;
}
.book, .join{
    background-color: #cf995f;
    color: #fbf9fb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
}
.book:hover, .join:hover{
    background-color: #fbf9ff;
    color: #628395;
}
.msg{
    background-color: #2d3047;
    line-height: 1.5em;
    padding: 35px;
}
.home-title{
    color: black;
    font-family: 'Rock Salt', 'Helvetica' , 'sans-serif';
    font-size: 2em;
}
h4{
    color: black;
}
.msg h2{
    color: #fbf9ff;
    font-family: 'Rock Salt', 'Helvetica' , 'sans-serif';
}
.msg p{
    color: #fbf9ff;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    color: #fbf9ff;
    padding: 25px 50px;
}
footer a{
    color: #fbf9ff;
    text-decoration: none;
}
footer a:hover{
    color:black;
    text-decoration: underline;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 80px;
}
#hero-img{
    width: 100%;
}
footer p{
    font-size: 1.2em;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}